@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --cor_primaria: #00030C;
    --cor_secundaria: #FFFFFF;
    --cor_tercearia: #F9F9F9;
    --cor_quaternaria: #C0C0C0;
    --cor_box: #167BF7;
    --font1: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:var(--cor_primaria);
    color: white;
}
.principal{
    background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.btn{
    text-align: center;
    color: var(--cor_secundaria);
    background-color: var(--cor_box);
    border: 1px solid black;
    border-radius: 8px;
    padding: 1em;
    font-family: var(--font1);
    font-size: 1rem;
    display: block;
    text-decoration: none;
}
.btn1{
    text-align: center;
    width: 512px;
}
.container__caixa {
    margin: 0 6em;
}
.btn2{
    background-color: transparent;
    border: 1px solid var(--cor_secundaria);;
}
.aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}
.apresentacao{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.container__caixa {
    margin: 0 6em;
}
.a_sessao1{
    display: flex;
    justify-content: center;
    gap: 69px;
    align-items: center;
    margin: 0 10em;
}
.a_sessao2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 69px;
    align-items: center;
}
.a_sessao3{
    display: flex;
    justify-content: center;
    gap: 69px;
    
}
.a_organizador{
    display: flex;
    flex-direction: column;
}
.a_organizador2{
    display: flex;
    justify-content: center;
}
.a_organizador3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 588px;
    text-align: center;
    gap: 20px;
    margin: auto;
}
.a_s_titulo1{
    font-size: 1.75rem;
    font-family: var(--font1);
}
.a_s_titulo2{
    font-size: 3rem;
}
.a_s_texto{
    font-size: 1rem;
    font-family: var(--font1);
    text-align: justify;
}
